---
# tasks file for clickhouse

- include: precheck.yml
  tags: [precheck,install]

- name: Debug installed
  debug: var=clickhouse_rt_isinstalled.rc

- include: install_apt.yml
  when: ansible_pkg_mgr == 'apt' and clickhouse_setup == 'package' and clickhouse_rt_isinstalled.rc !=0 and clickhouse_remove|bool == False
  tags: [install]

- include: remove_apt.yml
  when: ansible_pkg_mgr == 'apt' and clickhouse_setup == 'package' and clickhouse_rt_isinstalled.rc == 0 and clickhouse_remove|bool == True
  tags: [remove]

- include: precheck.yml
  tags: [precheck,config,config_sys,config_db,config_dict]

- include: config_sys.yml
  when: clickhouse_rt_isinstalled.rc == 0 and clickhouse_remove|bool == False
  tags: [config,config_sys]

- include: config_db.yml
  when: clickhouse_rt_isinstalled.rc == 0 and clickhouse_remove|bool == False
  tags: [config,config_db]

- include: config_dict.yml
  when: clickhouse_rt_isinstalled.rc == 0 and clickhouse_remove|bool == False
  tags: [config,config_dict]
